body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.code-view {
    margin: 50px 0 0 50px;
    padding: 5px;
    display: inline-block;
    border-bottom: 1px solid #333;
}

.code-view > * {
    display: inline-block;
}

.fn-name {
    margin: 0;
    font-size: 14px;
}

/* Type */

.exp-type {
    border-bottom: 1px solid #FF0000;
}

.exp-fn {
    border-bottom: 1px solid #FF00FF;
}

.database-list {
    height: 100vh;
    background-color: #fafafa;
}

input[type=text] {
    width: 100%;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.pure-button {
    border-radius: 0;
}

.view-container {
    padding: 15px 30px;
}

.graph {
    position: relative;
    height: 100vh;
}

.node {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 8px;
    width: initial;
    background-color: #fff;
    border: 1px solid #ccc;
}

.node span {
    pointer-events: none;
}

.node.empty {
    width: 20px;
    height: 20px;
}

.node.selected {
    border: 1px solid #000;
}

.node .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
}

.node input[type=text] {
    color: #000;
}
