{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "destructuring": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "templateStrings": true
  },
  "rules": {
    "quotes": 0,
    "comma-dangle": 2,
    "no-underscore-dangle": 0,
    "curly": 0,
    "strict": 0,
    "no-use-before-define": 0,
    "no-cond-assign": 0,
    "consistent-return": 0,
    "new-cap": 0,
    "no-unused-vars": 0
  }
}
