{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "comma-dangle": 0,
    "quotes": 0,
    "brace-style": 2,
    "no-loop-func": 2,
    "no-array-constructor": 2,
    "wrap-iife": 2,
    "prefer-template": 2,
    "no-unneeded-ternary": 2,
    "no-nested-ternary": 2,
    "no-case-declarations": 2,
    "comma-style": [2, "last"],
    "space-before-blocks": [2, { "functions": "always", "keywords": "always" }],
    "space-infix-ops": [2, {"int32Hint": false}],
    "space-in-parens": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "array-bracket-spacing": [2, "never"],
    "padded-blocks": [2, "never"],
    "no-console": 1,
    "no-debugger": 1,
    "semi": [2, "always"],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "eol-last": 0,
    "no-unused-vars": 2,
    "no-underscore-dangle": 2,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "jsx-quotes": 2,
    "react/display-name": [ 2, {"acceptTranspilerName": true }],
    "react/forbid-prop-types": [2, {"forbid": "any"}],
    "react/jsx-boolean-value": 2,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-indent-props": 0,
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 2,
    "react/no-set-state": 0,
    "react/no-unknown-property": 2,
    "react/prefer-es6-class": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-extension": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/wrap-multilines": 2
  },
  "globals": {
  }
}
